.searchBox {
  width: 480px;
  /* width: 90%; */
  height: 55px;
  padding-left: 5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
}
.Home {
  padding: 45px 50px;
}
.faSearch {
  position: relative;
  left: 3rem;
  color: #8c8c8c;
}
.filterBar {
  display: flex;
  justify-content: space-between;
}
#filterRegion {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
}
#filterRegion > * {
  background-color: #fff;
}
.card {
  background: white;
  width: 265px;
  margin-top: 45px;
  margin-left: 35px;
  box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);

}
/* .card > Image{
  width: 16.5rem;
} */
.card > p{
  padding-left: 30px;
}
.card > h2{
  padding-left: 30px;
}
.card > p > span{
  font-weight: 600;
}
.section{
  display: flex;
  flex-flow: row wrap;
}